<turbo-frame id="projected_income">
  <p>Projected Remaining Income: <%= projected_remaining_income %></p>
  <p>Projected Remaining Income in Quote Currency: <%= projected_remaining_income_in_quote_currency %></p>
</turbo-frame>